/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-may-2017, 10:06:09
    Author     : mikel
*/
nav {
    width: 70%;
    height: 50px;
    margin-top: 0px;
    float: left;
    /*background: #BCBBBB;*/
}
nav ul {
    list-style:none;
}
nav ul li {
    margin-left: 20px;
    float: left;
    display: block;
    color: black;
/*    transform:scale(1);
    -ms-transform:scale(1); 
    -moz-transform:scale(1); 
    -webkit-transform:scale(1); 
    -o-transform:scale(1); 
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out; 
    -o-transition: all 500ms ease-in-out;*/
}
nav ul li:hover {
    color: black;
/*    transform:scale(1.2);
    -ms-transform:scale(1.2); 
    -moz-transform:scale(1.2);
    -webkit-transform:scale(1.2); 
    -o-transform:scale(1.2); */
}
