/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-may-2017, 10:56:42
    Author     : mikel
*/
#contentSobreMi {
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    height: 500px;
    background: white;
}

#contentTextoSobreMi {
    width: 100%;
    float: right;
    /*padding: 10px;*/
}

/*CLASES*/
.imgMiFoto {
    /*width: 80%;*/
    height: 300px;
    float: left;
    padding: 15px 50px;
}
p.textoSobreMi {
    color: black;
    letter-spacing: 0.8px;
    line-height: 30px;
}

